<a href="https://colab.research.google.com/github/Jatansahu/GOLDDIGGER_GROUP12_PROJECT_01/blob/JATAN_202218061/Data_partitioning_dm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# import polars as p
import numpy as np
import warnings
warnings.filterwarnings(action = "ignore")


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/Jatansahu/GOLDDIGGER_GROUP12_PROJECT_01/main/dataset.csv")

In [ ]:
data.shape

(53392, 33)

In [ ]:
data

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Asian,RACE,RACEASN
53388,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI
53389,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA
53390,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
53391,2016,2016,VI,Virgin Islands,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.335765, -64.896335)",PA,PA1,Q047,VALUE,78,Race/Ethnicity,Other,RACE,RACEOTH

In [ ]:
col = data.columns
col

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

## SELECTING FEATURES WHICH WILL HELP US TO CLASSIFY DIFFERENT STRATIFICATION CATEGORY.

### Most of the predictive values are correlated to each other so we dropped those columns which have less important(Refer EDA file).

In [ ]:
df = data[['YearEnd','LocationAbbr','Sample_Size','Age(years)','Education','Gender','Income','Race/Ethnicity','ClassID','QuestionID','StratificationCategory1','Stratification1','StratificationCategoryId1','StratificationID1','Total','Data_Value']]

In [ ]:
df

,YearEnd,LocationAbbr,Sample_Size,Age(years),Education,Gender,Income,Race/Ethnicity,ClassID,QuestionID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1,Total,Data_Value
0,2011,AL,7304.0,NaN,NaN,NaN,NaN,NaN,OWS,Q036,Total,Total,OVR,OVERALL,Total,32.0
1,2011,AL,2581.0,NaN,NaN,Male,NaN,NaN,OWS,Q036,Gender,Male,GEN,MALE,NaN,32.3
2,2011,AL,4723.0,NaN,NaN,Female,NaN,NaN,OWS,Q036,Gender,Female,GEN,FEMALE,NaN,31.8
3,2011,AL,1153.0,NaN,Less than high school,NaN,NaN,NaN,OWS,Q036,Education,Less than high school,EDU,EDUHS,NaN,33.6
4,2011,AL,2402.0,NaN,High school graduate,NaN,NaN,NaN,OWS,Q036,Education,High school graduate,EDU,EDUHSGRAD,NaN,32.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53387,2016,VI,NaN,NaN,NaN,NaN,NaN,Asian,PA,Q047,Race/Ethnicity,Asian,RACE,RACEASN,NaN,NaN
53388,2016,VI,NaN,NaN,NaN,NaN,NaN,Hawaiian/Pacific Islander,PA,Q047,Race/Ethnicity,Hawaiian/Pacific Islander,RACE,RACEHPI,NaN,NaN
53389,2016,VI,NaN,NaN,NaN,NaN,NaN,American Indian/Alaska Native,PA,Q047,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA,NaN,NaN
53390,2016,VI,NaN,NaN,NaN,NaN,NaN,2 or more races,PA,Q047,Race/Ethnicity,2 or more races,RACE,RACE2PLUS,NaN,NaN
53391,2016,VI,NaN,NaN,NaN,NaN,NaN,Other,PA,Q047,Race/Ethnicity,Other,RACE,RACEOTH,NaN,NaN

In [ ]:
df.columns = df.columns.str.lower()
df.head()

,yearend,locationabbr,sample_size,age(years),education,gender,income,race/ethnicity,classid,questionid,stratificationcategory1,stratification1,stratificationcategoryid1,stratificationid1,total,data_value
0,2011,AL,7304.0,NaN,NaN,NaN,NaN,NaN,OWS,Q036,Total,Total,OVR,OVERALL,Total,32.0
1,2011,AL,2581.0,NaN,NaN,Male,NaN,NaN,OWS,Q036,Gender,Male,GEN,MALE,NaN,32.3
2,2011,AL,4723.0,NaN,NaN,Female,NaN,NaN,OWS,Q036,Gender,Female,GEN,FEMALE,NaN,31.8
3,2011,AL,1153.0,NaN,Less than high school,NaN,NaN,NaN,OWS,Q036,Education,Less than high school,EDU,EDUHS,NaN,33.6
4,2011,AL,2402.0,NaN,High school graduate,NaN,NaN,NaN,OWS,Q036,Education,High school graduate,EDU,EDUHSGRAD,NaN,32.8

In [ ]:
distinct_values = df['stratificationcategoryid1'].unique()
distinct_values

array(['OVR', 'GEN', 'EDU', 'AGEYR', 'INC', 'RACE'], dtype=object)

In [ ]:
total = df[df['stratificationcategoryid1'] == 'OVR'] # total
gen = df[df['stratificationcategoryid1'] == 'GEN'] #gender
edu  = df[df['stratificationcategoryid1'] == 'EDU'] #Education
age = df[df['stratificationcategoryid1'] == 'AGEYR'] #Age Range of sample
inc  = df[df['stratificationcategoryid1'] == 'INC'] #income range
race = df[df['stratificationcategoryid1'] == 'RACE'] # race

##Size of all category data

In [ ]:
print(f'Shape of category Race/ethinicity is {race.shape}')
print(f'Shape of category Income range is {inc.shape}')
print(f'Shape of category Age range of sample is {age.shape}')
print(f'Shape of category Education is {edu.shape}')
print(f'Shape of category Gender is {gen.shape}')
print(f'Shape of category total is {total.shape}')

Shape of category Race/ethinicity is (15256, 16)
Shape of category Income range is (13349, 16)
Shape of category Age range of sample is (11438, 16)
Shape of category Education is (7628, 16)
Shape of category Gender is (3814, 16)
Shape of category total is (1907, 16)

##Missing values (Categories wise)

##1.Race

In [ ]:
race.isnull().sum()

yearend                          0
locationabbr                     0
sample_size                   5046
age(years)                   15256
education                    15256
gender                       15256
income                       15256
race/ethnicity                   0
classid                          0
questionid                       0
stratificationcategory1          0
stratification1                  0
stratificationcategoryid1        0
stratificationid1                0
total                        15256
data_value                    5046
dtype: int64

  ### For race sample_size and data_value is also null so we will remove those values also

In [ ]:
race= race.dropna(subset=['data_value'])

In [ ]:
race.isnull().sum()

yearend                          0
locationabbr                     0
sample_size                      0
age(years)                   10210
education                    10210
gender                       10210
income                       10210
race/ethnicity                   0
classid                          0
questionid                       0
stratificationcategory1          0
stratification1                  0
stratificationcategoryid1        0
stratificationid1                0
total                        10210
data_value                       0
dtype: int64

##2. income

In [ ]:
inc.isnull().sum()

yearend                          0
locationabbr                     0
sample_size                      0
age(years)                   13349
education                    13349
gender                       13349
income                           0
race/ethnicity               13349
classid                          0
questionid                       0
stratificationcategory1          0
stratification1                  0
stratificationcategoryid1        0
stratificationid1                0
total                        13349
data_value                       0
dtype: int64

##3. Age

In [ ]:
age.isnull().sum()

yearend                          0
locationabbr                     0
sample_size                      0
age(years)                       0
education                    11438
gender                       11438
income                       11438
race/ethnicity               11438
classid                          0
questionid                       0
stratificationcategory1          0
stratification1                  0
stratificationcategoryid1        0
stratificationid1                0
total                        11438
data_value                       0
dtype: int64

##4.Education

In [ ]:
edu.isnull().sum()

yearend                         0
locationabbr                    0
sample_size                     0
age(years)                   7628
education                       0
gender                       7628
income                       7628
race/ethnicity               7628
classid                         0
questionid                      0
stratificationcategory1         0
stratification1                 0
stratificationcategoryid1       0
stratificationid1               0
total                        7628
data_value                      0
dtype: int64

## 5. Gender

In [ ]:
gen.isnull().sum()

yearend                         0
locationabbr                    0
sample_size                     0
age(years)                   3814
education                    3814
gender                          0
income                       3814
race/ethnicity               3814
classid                         0
questionid                      0
stratificationcategory1         0
stratification1                 0
stratificationcategoryid1       0
stratificationid1               0
total                        3814
data_value                      0
dtype: int64

#6. Total

In [ ]:
total.isnull().sum()

yearend                         0
locationabbr                    0
sample_size                     0
age(years)                   1907
education                    1907
gender                       1907
income                       1907
race/ethnicity               1907
classid                         0
questionid                      0
stratificationcategory1         0
stratification1                 0
stratificationcategoryid1       0
stratificationid1               0
total                           0
data_value                      0
dtype: int64

##OBESERVATION:

## From the above null values we know that for each category other cateregeries values(column) are null so we will remove those feature for particular dataframe

###Eg. for race total category other categories(age, education, gender, income, race) are null.

## Dropping Missing values
###(According to above observation)

In [ ]:
columns_to_drop = ['income','age(years)','gender','education','total']
race.drop(columns=columns_to_drop, inplace=True)
columns_to_drop = ['race/ethnicity','age(years)','gender','education','total']
inc.drop(columns=columns_to_drop, inplace=True)
columns_to_drop = ['race/ethnicity','income','gender','education','total']
age.drop(columns=columns_to_drop, inplace=True)
columns_to_drop = ['race/ethnicity','income','age(years)','gender','total']
edu.drop(columns=columns_to_drop, inplace=True)
columns_to_drop = ['race/ethnicity','income','age(years)','education','total']
gen.drop(columns=columns_to_drop, inplace=True)
columns_to_drop = ['race/ethnicity','income','age(years)','gender','education']
total.drop(columns=columns_to_drop, inplace=True)

In [ ]:
dataframes = [race,inc,age,edu,gen,total]

In [ ]:
for i, df in enumerate(dataframes, start=1):
    null_count = df.isnull().sum().sum()
    print(f"Null values in df{i}: {null_count}")

Null values in df1: 0
Null values in df2: 0
Null values in df3: 0
Null values in df4: 0
Null values in df5: 0
Null values in df6: 0

## Now we don't have any null values in our datasets

# Saving each category dataframes into csv file for further process.

In [ ]:
dataframes = [race, inc, age, edu, gen, total]
categories = ['race', 'income', 'age', 'education', 'gender', 'total']

In [ ]:
for i, df in enumerate(dataframes):
    filename = f'{categories[i]}.csv'
    df.to_csv(filename, index=False)